/* Adapted from https://stackoverflow.com/questions/52894639/bootstrap-4-1-navbar-max-width-and-auto-margins,
acessed on 20/12/2021 */
nav.navbar-center {
    max-width: 200px; /* applying max-width */
    text-align: center !important;
    .navbar-collapse {
        justify-content : center; /* center the elements in the block if there is flex */
        -webkit-justify-content : center; /* make it works on some navigators */
    }
}

.container {
    padding: 10px !important;
}