html, body, .maindiv, .row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Adapted from https://stackoverflow.com/questions/52894639/bootstrap-4-1-navbar-max-width-and-auto-margins,
acessed on 20/12/2021 */
nav.navbar-center {
    padding: 10px;
    background-color: #F0F0F0;
    border-top: 2px solid #d54444;
    .navbar-collapse {
        justify-content : center; /* center the elements in the block if there is flex */
        -webkit-justify-content : center; /* make it works on some navigators */
    }
}

.nav {
    justify-content: center;
}

.nav>li>a {
    padding: 5px;
}

.nav>li>a>img {
    width: 60px;
    height: 60px;
}

.center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

.add-padding-30 {
    padding: 30px;
}

.remove-margin-and-padding {
    margin: 0px;
    padding: 0px;
}
