/* body {
    text-align: center;
}
 
h2 {
    color: green;
}
 
.gallery {
    margin: 10px 40px;
}
 
.gallery img {
    width: 200px;
    height: 50px;
    transition: 1s;
    padding: 5px;
}
 
.gallery img:hover {
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
}

 */

 body {
    margin: 0;
    text-align: center;

  }
  
  .grid {
    display: gallery;
    grid-template-columns: repeat(6, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    height: 100vh;
  }
  
  /* .grid img {
    width: 200px;
    height: 200px;
    cursor: pointer;
  } */
.grid img {
  width: 200px;
  height: 50px;
  transition: 1s;
  padding: 5px;
}
.slide{
    display: none;
}
  
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }