<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extraStylesheets %}{% endblock %}

    <!-- JavaScripts -->
    <script src="{{url_for('static', filename='lightbox2/dist/js/lightbox-plus-jquery.min.js')}}"></script>

</head>
<body>
<div class="container remove-margin-and-padding">

    <!-- The content of the webpage -->
    {% block content %}{% endblock %}

    <!-- The navigation bar -->
    <nav class="navbar-center navbar-expand-xs mx-auto fixed-bottom">
        <ul class="nav nav-pills">
          <li class="nav-item">
              <a class="nav-link" href="index.html">
                <img src="{{ url_for('static', filename='img/info.png') }}" alt="Home">
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="gallery.html">
                  <img src="{{ url_for('static', filename='img/gallery.png') }}" alt="Gallery">
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="upload.html">
                <img src="{{ url_for('static', filename='img/camera.png') }}" alt="Upload">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="map.html">
                <img src="{{ url_for('static', filename='img/map.png') }}" alt="Map">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="ethics_paper.html">
                <img src="{{ url_for('static', filename='img/paper.png') }}" alt="Ethics Paper">
            </a>
          </li>
        </ul>
    </nav>
</div>
</body>
</html>