<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">

    <!-- Files for Gallery -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lightbox2/dist/css/lightbox.min.css') }}">
    <script src="{{url_for('static', filename='lightbox2/dist/js/lightbox-plus-jquery.min.js')}}"></script>

    <!-- Files for Map -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>

    <!-- Files for the Upload -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Camera app">
    <meta name="apple-mobile-web-app-title" content="Camera app">

</head>
<body>
<div>

    <!-- The content of the webpage -->
    {% block content %}{% endblock %}

    <!-- The navigation bar -->
    <nav class="navbar-center navbar-expand-xs mx-auto fixed-bottom">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link disabled" href="map.html">
                <img src="{{ url_for('static', filename='img/map.png') }}" alt="Map">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="upload.html">
                <img src="{{ url_for('static', filename='img/camera.png') }}" alt="Upload">
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="gallery.html">
                  <img src="{{ url_for('static', filename='img/gallery.png') }}" alt="Gallery">
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="info.html">
                <img src="{{ url_for('static', filename='img/info.png') }}" alt="Home">
              </a>
          </li>
        </ul>
    </nav>
</div>
</body>
</html>