<!-- gallery.html -->
<!-- This page will contain the gallery view of all the data -->

{% extends "base.html" %}
{% block title %}Gallery{% endblock %}

<!-- This section will contain the contents displayed on gallery.html -->
{% block content %}
<div class="row gallery-text">
    <div class="col-sm-12">
        <h2>CCTV Signs Across the Globe</h2>
        <b>A gallery containing uploads currently in our Database</b>
        </br>
        </br>
    </div>
</div>
<div class="row">
    <div class="gallery" id="myGallery0">
        <script type="module" src="{{url_for('static', filename='js/gallery.js')}}"></script>
    </div>
</div>

{% endblock %}