<!-- gallery.html -->
<!-- This page will contain the gallery view of all the data -->

{% extends "base.html" %}
{% block title %}Gallery{% endblock %}

<!-- This section will contain the contents displayed on gallery.html -->
{% block content %}
 
<!DOCTYPE html>
<html>
 
<head>
    <title>Lightbox Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lightbox2/dist/css/lightbox.min.css') }}">
    <script src="{{url_for('static', filename='lightbox2/dist/js/lightbox-plus-jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
</head>
 
<body>
    <h2>GeeksforGeeks</h2>
    <b>A Computer Science Portal for Geeks</b>
    <div class="grid">

        <script src="{{url_for('static', filename='js/gallery.js')}}"></script>
    </div>
</body>
 
 
</html>

{% endblock %}