<!-- index.html -->
<!-- This (home) page will contain information about the project and the website -->

{% extends "base.html" %}
{% block title %}Index{% endblock %}


<!-- This section will contain the contents displayed on index.html -->
{% block content %}

<div class="row remove-margin-and-padding">
    <img class="center-fit" src="{{ url_for('static', filename='img/sign-of-signs.jpeg') }}" alt="CCTV sign">
</div>

<div class = "row remove-margin-and-padding">
    <div class="col-sm-12 add-margin-20">
        <h1>Bigger Brother is watching you!</h1>
        </br>
        </br>
        <p class="text-sm-start">
            Do you feel like you are being watched?
        </p>

        <!-- Website tutorial -->
        <p> You can find out where CCTV signs or cameras have been spotted by going to
            <img src="{{ url_for('static', filename='img/map.png') }}" height="20px" width="20px" alt="Map">
            and looking at the map. The pinpoints are the individual CCTV signs already photographed and uploaded by people.
        </p>

        <p>
            If you just want to look at a gallery of all the pictures that have been taken you can go to
            <img src="{{ url_for('static', filename='img/gallery.png') }}" height="20px" width="20px" alt="Gallery">.
        </p>

        <p>
            You can find more about CCTV surveillance and our motivation by reading our essay under
            <img src="{{ url_for('static', filename='img/paper.png') }}" height="20px" width="20px" alt="Paper">.
        </p>

        <p>
            Ready to start watching Big Brother yourself? You can help us to surveil Big Brother by
            taking photo's of CCTV signs or cameras you come across
            in daily life. To take a photo go to the
            <img src="{{ url_for('static', filename='img/camera.png') }}" height="20px" width="20px" alt="Upload">
            page and press ... .
        </p>

        <p>
            You can get back to this page any time by pressing
            <img src="{{ url_for('static', filename='img/info.png') }}" height="20px" width="20px" alt="Home">.
        </p>
    </div>
</div>

{% endblock %}