<!-- index.html -->
<!-- This (home) page will contain information about the project and the website -->

{% extends "base.html" %}
{% block title %}Index{% endblock %}


<!-- This section will contain the contents displayed on index.html -->
{% block content %}

<div class="row remove-margin-and-padding">
    <img class="center-fit" src="{{ url_for('static', filename='img/sign-of-signs.jpeg') }}" alt="CCTV sign">
</div>

<div class = "row remove-margin-and-padding">
    <div class="col-sm-12 add-margin-20">
        <h1>Bigger Brother is watching you!</h1>
        </br>
        </br>
        <p class="text-sm-start">
            Do you feel like you are being watched?
        </p>

        <p>
            This website is made to help you find out. Closed-circuit television (CCTV) systems are
            increasingly widespread. We might not be aware of this at first, but as soon as you start
            looking around, you cannot un-see it anymore. Both inside and outside you are surrounded by
            signs or cameras watching you. Big Brother has become a reality.
        </p>

        <p>
            We decided to increase awareness of this fact through creating a platform where we can
            collectively track the CCTV surveillance down. Thus, watching Big Brother itself and
            becoming a Bigger Brother. By uploading pictures of CCTV signs together with their locations
            we can create a database containing all CCTV signs.
        </p>

        <p>
            The artist Daniel Buzzo made an incredible start by photographing CCTV signs and noting down their
            locations in several countries all by himself. You can view his map and gallery on
            <href src="https://signsofsurveillance.com/">signsofsurveillance.com/</href>.
            We have used his data set to create this platform, and you can find many of his pictures in our gallery too
            by going to <img src="{{ url_for('static', filename='img/gallery.png') }}" height="20px" width="20px" alt="Gallery">,
            on our map by going to <img src="{{ url_for('static', filename='img/map.png') }}" height="20px" width="20px" alt="Map">.
            The pinpoints are the individual CCTV signs already photographed and uploaded by people, including Daniel Buzzo's.
        </p>

        <p>
            If you just want to look at a gallery of all the pictures that have been taken you can go to
            <img src="{{ url_for('static', filename='img/gallery.png') }}" height="20px" width="20px" alt="Gallery">.
        </p>

        <p>
            You can find more about CCTV surveillance and our motivation by reading our essay under
            <img src="{{ url_for('static', filename='img/paper.png') }}" height="20px" width="20px" alt="Paper">.
        </p>

        <p>
            Ready to start watching Big Brother yourself? You can help us to surveil Big Brother by
            taking photo's of CCTV signs or cameras you come across
            in daily life. To take a photo go to the
            <img src="{{ url_for('static', filename='img/camera.png') }}" height="20px" width="20px" alt="Upload">
            page and press ... .
        </p>

        <p>
            You can get back to this page any time by pressing
            <img src="{{ url_for('static', filename='img/info.png') }}" height="20px" width="20px" alt="Home">.
        </p>
    </div>
</div>

{% endblock %}