<!-- info.html -->
<!-- This (home) page will contain information about the project and the website -->

{% extends "base.html" %}
{% block title %}Info{% endblock %}

<!-- This section will contain the contents displayed on info.html -->
{% block content %}

<div class="row">
    <img class="center-fit" src="{{ url_for('static', filename='img/sign-of-signs-cctv.jpeg') }}" alt="CCTV sign">
</div>

<div class = "row">
    <div class="col-sm-12 add-padding-30">
        <h1>Is Big Brother watching you?</h1>
        <p>
            This website is made to help you find out. Closed-circuit television (CCTV) systems are
            increasingly widespread. We might not be aware of this at first, but as soon as you start
            looking around, you cannot un-see it anymore. Both inside and outside you are surrounded by
            signs or cameras watching you. Big Brother has become a reality.
        </p>

        <h3>About us</h3>
        <p>
            We decided to increase awareness of this fact through creating a platform where we can
            collectively track the CCTV surveillance down. Thus, we will be Bigger Brother.
        </p>
        <p>
            The artist Daniel Buzzo made an incredible start by photographing CCTV signs and noting down their
            locations in several countries all by himself. You can view his map and gallery on
            <a href="https://signsofsurveillance.com/">signsofsurveillance.com</a>.
        </p>

        <h3> How to use the website </h3>
        <table id="info-table">
            <tr>
                <td class="icon-col" ><img src="{{ url_for('static', filename='img/map.png') }}" alt="Map"></td>
                <td>
                    This page gives a map view of our database with pinpoints at all the locations photos
                    were taken. The red "U" icon shows your own location on the map.
                </td>
            </tr>
            <tr>
                <td class="icon-col" ><img src="{{ url_for('static', filename='img/camera.png') }}" alt="Upload"></td>
                <td>
                    Ready to start watching Big Brother yourself? In this page you can make and upload
                    your own photos of CCTV signs.
                </td>
            </tr>
            <tr>
                <td class="icon-col" ><img src="{{ url_for('static', filename='img/gallery.png') }}" alt="Gallery"></td>
                <td> This page shows the images currently in our database. </td>
            </tr>
            <tr>
                <td class="icon-col" ><img src="{{ url_for('static', filename='img/info.png') }}" alt="Home"></td>
                <td> This icon brings you back to this info page. </td>
            </tr>
        </table>

        <H3>Why the awareness of CCTV surveillance must grow</H3>
        <p>
            With the increase of technology use across the globe, closed-circuit television (CCTV)
            surveillance is also becoming increasingly widespread. This trend should, however,
            not be taken lightly.
        </p>
        <p>
            There are certain claimed benefits to CCTV. For example, it is said
            to reduce crime, prevent terrorism and increase marketing profits. But many of the beneficial
            claims have been partly or entirely disproven or come with significant side effects.
            The drawbacks and dangers of widespread CCTV are, on the other side, backed up by scientific
            studies. Most of the hazards may not lie in the use of CCTV itself but in how the humans behind
            the cameras deal with it. Discrimination, invasion of privacy, totalitarian monitoring,
            data leaks, fraud, and perceived impaired freedom of expression are all worrisome side effects
            of the increase of CCTV surveillance.
        </p>
        <p>
            To cope with CCTV ethically and safely, people must gain
            more awareness about the current state of affairs and possible future scenarios regarding CCTV
            use.
        </p>
        </br>
        <p>
            Download our full essay <a href="static/essay.pdf" download="Why the awareness of CCTV surveillance must grow">here</a>.
        </p>

        </br>
        </br>
        </br>
        </br>
    </div>
</div>

{% endblock %}