<!-- This page will contain the world map with the pinpoints of all the data points -->

{% extends "base.html" %}
{% block title %}Map{% endblock %}

{% block content %}
<div style="width: 100vw; height: 100vh" id="mapContainer"></div>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>

<script type="module">


  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.2/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDsgkvnYUtXSDQbG6VHQ1wsA85OgMl35dg",
    authDomain: "dspa2-89403.firebaseapp.com",
    databaseURL: "https://dspa2-89403-default-rtdb.europe-west1.firebasedatabase.app",
    projectId: "dspa2-89403",
    storageBucket: "dspa2-89403.appspot.com",
    messagingSenderId: "1067069276652",
    appId: "1:1067069276652:web:a7905bfd04c842886780c9",
    measurementId: "G-9LFKZ5YGHG"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);

  // Initialize Realtime Firebase
  // import { getDatabase, ref, set, child, get, update, remove } from "https://www.gstatic.com/firebasejs/9.6.2/firebase-database.js"
  import { getDatabase, ref, get } from "https://www.gstatic.com/firebasejs/9.6.2/firebase-database.js"
  // Obtain the default map types from the platform object
  
  
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);

    
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
  
  function showPosition(position) {
    var latit= position.coords.latitude;
    var longi= position.coords.longitude;

  // function createInfoBubble(map) {
  //               // Create info bubble
  //               var bubble = new H.ui.InfoBubble({ lng: longi, lat: latit }, {
  //                   content: '<b>Hello World!</b>'
  //               });
  //               // Add info bubble to the UI:
  //               ui.addBubble(bubble);
  //           }
  
  
  // Initialize the platform object:
  var platform = new H.service.Platform({
  'app_id': '{{app_ID}}',
  'app_code': '{{app_CODE}}',
  // useHTTPS: true
  });



  // Instantiate (and display) a map object:
  // const map = new H.Map(
  // document.getElementById('mapContainer'),
  // platform.createDefaultLayers().satellite.map,
  // {
  //   zoom: 10,
  //   center: { lng: longi, lat: latit}
  // });
  var pixelRatio = window.devicePixelRatio || 1;
            var defaultLayers = platform.createDefaultLayers({
                tileSize: pixelRatio === 1 ? 256 : 512,
                ppi: pixelRatio === 1 ? undefined : 320
            });

  // var map = new H.Map(
  // document.getElementById('map'), defaultLayers.normal.map,
  // {
  //   pixelRatio: pixelRatio,
  //   // zoom: 10,
  //   // center: { lng: longi, lat: latit}
  // });

  // Step 2: initialize a map
  var map = new H.Map(document.getElementById('mapContainer'),
  defaultLayers.normal.map, {
    pixelRatio: pixelRatio,
    zoom: 10,
    center: { lng: longi, lat: latit}
  });

  // // Step 2: initialize a map
  // var map = new H.Map(document.getElementById('mapContainer'),
  // createdefaultLayers.normal.map, {
  //   pixelRatio: pixelRatio,
  //   zoom: 10,
  //   center: { lng: longi, lat: latit}
  // });

  // Step 3: make the map interactive            
  // const behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));


  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

  var ui = H.ui.UI.createDefault(map, defaultLayers);



  // const mapEvents = new H.mapevents.MapEvents(map);
  // const behavior = new H.mapevents.Behavior(mapEvents);

  // // Step 4: create the default UI components
  // var ui = H.ui.UI.createDefault(map, defaultLayers);
  // var ui = H.ui.UI.createDefaultLayers(map);

  // const marker1 = new H.map.Marker({lat: latit, lng: longi});
  // map.addObject(marker1);
  const database = getDatabase();
  const firebaseRef = ref(database, "Images");

  const group = new H.map.Group()
  map.addObject(group)

  get(firebaseRef).then(function(result){
      result.forEach(function(itemRef){
        var markers = new H.map.Marker({lat: itemRef._node.children_.root_.value.value_, lng: itemRef._node.children_.root_.right.value.value_})
        map.addObject(markers);
        markers.setData("<p>hello peeps</p>");
        markers.addEventListener("tap", event => {
          const bubble = new H.ui.InfoBubble(
            event.target.getPosition(),
            {
              content: event.target.getData()
            }
          );
          ui.addBubble(bubble)
        })
        group.addObject(markers)
          });
      
  }).catch(function(error){
      console.log(error);
  });

  // Move UI elements to the top left of the map
  var mapSettings = ui.getControl('mapsettings');
  var zoom = ui.getControl('zoom');
  var scalebar = ui.getControl('scalebar');
  var panorama = ui.getControl('panorama');

  panorama.setAlignment('top-right');
  mapSettings.setAlignment('top-left');
  zoom.setAlignment('top-left');
  scalebar.setAlignment('top-left');
  
  };

  // createInfoBubble(map);
// credits https://stackoverflow.com/questions/51729938/add-info-bubbles-to-here-maps

</script>
{% endblock %}
