<!-- This page will contain the world map with the pinpoints of all the data points -->

{% extends "base.html" %}
{% block title %}Map{% endblock %}

{% block content %}
<div style="width: 100vw; height: 100vh" id="mapContainer"></div>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>

<script type="module" src="{{url_for('static', filename='js/map.js')}}"></script>
{% endblock %}
