<!-- This page will contain the world map with the pinpoints of all the data points -->

{% extends "base.html" %}
{% block title %}Map{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>

<div id="mapContainer">

    {% if infomessage == True %}
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close"></span>
            </div>
            <div class="modal-body">
                <p>This map shows all the uploaded CCTV warning signs.</p>
                <p>Do you want to add to the data set?</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
    {% endif %}
    <p id ="CctvCounter">CCTV Counter: </p>
</div>



<script type="module" src="{{url_for('static', filename='js/map.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %} 
