<!-- upload.html -->
<!-- This page will contain the photo taking and uploading functionalities -->

{% extends "base.html" %}
{% block title %}Upload{% endblock %}


<!-- This section will contain the contents displayed on upload.html -->
{% block content %}
<div class="row">
	<div class="col-sm-12">

		<!-- Camera -->
		<main id="camera">

			<!-- Camera sensor -->
			<canvas id="camera--sensor"></canvas>

			<!-- Camera view -->
			<video id="camera--view" autoplay playsinline></video>


			<!-- Camera trigger -->
			<button id="camera--trigger" >Take Picture</button>

		</main>
	</div>
</div>

<!-- Reference to the functional JavaScript file -->
<script>
	// Set constraints for the video stream
const constraints = {
  video: {
    facingMode: {
      ideal: "environment",

    }
  },
  audio:false
};
var track = null;


// Define constants
const cameraView = document.querySelector("#camera--view"),
cameraOutput = document.querySelector("#camera--output"),
cameraSensor = document.querySelector("#camera--sensor"),
cameraTrigger = document.querySelector("#camera--trigger");

function geoStart() {
    if (navigator.geolocation) {
        var geoError = function(error) {     
            switch(error.code) {
                case error.PERMISSION_DENIED:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "User denied the request for Geolocation.",
                  })
                  break;
                case error.POSITION_UNAVAILABLE:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "Location information is unavailable",
                  })
                  break;
                case error.TIMEOUT:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "The request to get user location timed out.",
                  })
                  break;
                case error.UNKNOWN_ERROR:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "An unknown error occurred.",
                  })
                  break;
            }
        
          };
            navigator.geolocation.getCurrentPosition(showPosition, geoError);
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: "Geolocation is not supported on your navigator.",
             });
        }
};
// Access the device camera and stream to cameraView
function cameraStart() {
    navigator.mediaDevices
        .getUserMedia(constraints)
        .then(function(stream) {
            track = stream.getTracks()[0];
            cameraView.srcObject = stream;
        })
        .catch(function(error) {        
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: "User denied the request for Camera. Please allow Camera permission.",
              })
        });
};

// Take a picture when cameraTrigger is tapped
cameraTrigger.onclick= function() {
    if (navigator.geolocation) {
        var geoError = function(error) {     
            switch(error.code) {
                case error.PERMISSION_DENIED:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "User denied the request for Geolocation.",
                  })
                  break;
                case error.POSITION_UNAVAILABLE:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "Location information is unavailable",
                  })
                  break;
                case error.TIMEOUT:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "The request to get user location timed out.",
                  })
                  break;
                case error.UNKNOWN_ERROR:
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "An unknown error occurred.",
                  })
                  break;
            }
        
          };
        navigator.geolocation.getCurrentPosition(showPosition, geoError);
        cameraSensor.width = cameraView.videoHeight;
        cameraSensor.height = cameraView.videoHeight;
        cameraSensor.getContext("2d").drawImage(cameraView, 0, 0);
        cameraSensor.toBlob(photo, "image/jpg");
        cameraOutput.src = cameraSensor.toDataURL("image/jpg");
        cameraOutput.classList.add("taken");

    } else {
        Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: "Geolocation is not supported on your navigator.",
              });
    }
    // track.stop();
};


function showPosition(position) {
				window.lat = position.coords.latitude;
				window.lon = position.coords.longitude;
			};
    

function photo(file) {
			var formdata =  new FormData();
			formdata.append("snap", file);
			formdata.append("lat",window.lat );
			formdata.append("lon",window.lon );
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "{{ url_for('photo') }}", true);
			xhr.onload = function() {
                if(this.status = 200) {
                    console.log(this.response);
                    if(this.response == '0'){
                        Swal.fire({
                            icon: 'success',
                            text: "Upload successful!",
                          });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: this.response,
                          });
                    }
                } else {
                    console.error(xhr);
				}
            };
			xhr.send(formdata);
			};



// Start the video stream when the window loads
window.addEventListener("load", cameraStart, false);
</script>

<!-- Reference to adapter.js -->
<script src="{{ url_for('static', filename='js/adapter-min.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
